@import url("../../global.css");

.FormSection {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 4.6rem;
}

.MsgBox,
.Form {
  border-radius: 0.75rem;
  box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.253);
}

.MsgBox {
  font-size: 1rem;
  background-color: var(--blue);
  text-align: center;
  padding: 1.6rem 6.4rem;
  color: white;
  line-height: 1.75;
}

.Form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.6rem;
  height: auto;
  gap: 1rem;
}

.InputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.25rem;
}

.InputWrapper img {
  position: absolute;
  width: 1.65rem;
  height: 1.65rem;
  z-index: 10;
  top: 30%;
  right: 0.75rem;
  transform: translate(-0.75rem, -30%);
}

.InputWrapper p {
  color: var(--red);
  text-align: right;
  font-size: 0.75rem;
  font-weight: var(--medium);
}

.Input,
button {
  height: 4rem;
  border-radius: 5px;
}

.Input {
  padding: 0 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.103);
  position: relative;
  z-index: 10;
}

.Input:focus {
  border-color: black;
}

.Input,
.Input::placeholder {
  font-size: 1rem;
  font-weight: var(--medium);
}

.Danger {
  border: 2px solid var(--red) !important;
}

.DangerEmail {
  color: var(--red);
}

button {
  border: none;
  background-color: var(--green);
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  font-weight: var(--bold);
  border-bottom: 3px solid hsl(154, 59%, 42%);
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.TermAndCondition {
  font-size: 0.8rem;
  line-height: 2.2;
  padding: 0 2rem;
  margin-top: -0.75rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}

.TermAndCondition span {
  color: var(--red);
}

@media (min-width: 20em) {
  .MsgBox {
    font-size: 1.25rem;
  }
}

@media (min-width: 22em) {
  .FormSection {
    gap: 1.9rem;
    margin-bottom: 5rem;
  }

  .MsgBox,
  .Form {
    border-radius: 1rem;
    box-shadow: 0 7px 1px 0 rgba(0, 0, 0, 0.253);
  }
  .MsgBox {
    font-size: 1.35rem;
  }

  .Form {
    padding: 1.75rem;
    gap: 1.25rem;
  }

  .InputWrapper {
    gap: 0.3rem;
  }

  .InputWrapper img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    top: 30%;
    right: 0.75rem;
    transform: translate(-0.75rem, -30%);
  }

  .Input,
  button {
    height: 5rem;
    border-radius: 7px;
    font-size: 1.25rem;
  }

  .Input {
    padding: 0 1.6rem;
    border: 1px solid rgba(0, 0, 0, 0.103);
    position: relative;
    z-index: 10;
  }

  .Input:focus {
    border-color: black;
  }

  .Input,
  .Input::placeholder {
    font-size: 1.25rem;
    font-weight: var(--medium);
  }
  .TermAndCondition {
    font-size: 1.2rem;
  }
}

@media (min-width: 23em) {
  .Form {
    padding: 2rem;
    gap: 1.25rem;
  }
  .MsgBox {
    font-size: 1.6rem;
  }
  .Input,
  button {
    height: 5.25rem;
    border-radius: 7px;
  }

  .Input,
  button,
  .Input::placeholder {
    font-size: 1.6rem;
  }

  button {
    letter-spacing: 1px;
    border-bottom-width: 4px;
  }
  .TermAndCondition {
    font-size: 1rem;
  }
}

@media (min-width: 25em) {
  .FormSection {
    margin-bottom: 6rem;
  }
  .Form {
    gap: 1.6rem;
  }
  .InputWrapper img {
    width: 2rem;
    height: 2rem;
    top: 32%;
    right: 1rem;
    transform: translate(-1rem, -32%);
  }
  .InputWrapper p {
    font-size: 1rem;
  }

  .Input,
  button {
    height: 6rem;
    border-radius: 5px;
  }

  .TermAndCondition {
    font-size: 1.25rem;
  }
}
@media (min-width: 25.87em) {
  .MsgBox {
    font-size: 1.7rem;
  }
}

@media (min-width: 64em) {
  .FormSection {
    margin-bottom: 0;
    width: 95rem;
  }
  .MsgBox {
    font-size: 1.25rem;
  }

  .Input {
    padding: 0 2.25rem;
  }

  .Input,
  button {
    height: 5rem;
    border-radius: 5px;
    font-size: 1.25rem;
  }
  .Input::placeholder {
    font-size: 1.25rem;
  }
  .TermAndCondition {
    font-size: 0.9rem;
  }
}

@media (min-width: 85em) {
  .FormSection {
    margin-bottom: 0;
    width: 120rem;
    gap: 2.25rem;
  }
  .MsgBox {
    font-size: 1.25rem;
  }

  .Input {
    padding: 0 2.25rem;
  }

  .Form {
    padding: 3.25rem;
  }

  .Input,
  button {
    height: 5rem;
    border-radius: 5px;
    font-size: 1.25rem;
  }
  .Input::placeholder {
    font-size: 1.25rem;
  }
  .TermAndCondition {
    font-size: 1rem;
  }
}

@media (min-width: 90em) {
  .FormSection {
    margin-bottom: 0;
    width: 120rem;
    gap: 2.25rem;
  }
  .MsgBox {
    font-size: 1.75rem;
    padding: 2rem 6.4rem;
  }

  .Input {
    padding: 0 2.25rem;
  }

  .Form {
    padding: 3.75rem;
    gap: 2.25rem;
  }

  .Input,
  button {
    height: 6rem;
    border-radius: 5px;
    font-size: 1.75rem;
  }
  .Input::placeholder {
    font-size: 1.75rem;
  }
  .InputWrapper p {
    font-size: 1.25rem;
  }
  .InputWrapper img {
    width: 2.75rem;
    height: 2.75rem;
    top: 30%;
    right: 1.6rem;
    transform: translate(-1.6rem, -30%);
  }
  .TermAndCondition {
    font-size: 1.25rem;
  }
}
